@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary-color: #185ee0;
    --secondary-color: #e6eef9;
    --black: rgb(28, 33, 40);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    color: white;
    /* overflow: hidden; */
    background-color: var(--black);
    width: 100%;
    height: 100%;
}

html.modal-active,
body.modal-active {
    overflow: hidden;
}

.bg-image {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

}

.bg-image .effect {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: sepia(0.3) blur(10px);
    -webkit-backdrop-filter: sepia(0.3) blur(10px);

    background-color: rgba(0, 0, 0, 0.415);
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);

    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px); */
}

.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
    z-index: 100000;
    background-color: var(--black);
    position: absolute;
}

.loader svg {
    margin: auto;
}

svg path,
svg rect {
    fill: #FF6700;
}

.navbar {
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.415);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    height: 70px;
    margin-bottom: 15px;
    padding: 10px;
    margin: auto;
    
}

.navbar .logo {
    color: #fff;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.navbar .logo:hover,
.navbar .logo:focus {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-link {
    list-style: none;
    text-decoration: none;
}

.navbar .container {
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.nav-item {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: fit-content;
    margin: 5px;
}

.nav-item:hover {
    /* box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px; */
    padding: 8px 20px;
    color: green;
}

.nav-item.pop-up:hover {
    /* box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px; */
    font-size: 18px;
    margin: 5px 5px 15px 5px;
}

.nav-item.red{
    background-color: #fbccc2;
    color: red;
}

.nav-item.red:hover {
    /* box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px; */
    padding: 8px 20px;
    color: red;
}

.home {
    margin-top: 10px;
    height: calc(100vh - 80px);
    width: 100vw;
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home .container {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.home .container .contacts-container {
    padding: 5px;
    width: 25%;
    height: 100%;
    border-right: 1px solid rgba(78, 78, 71, 0.451);
    position: relative;
}

.home .container .profile-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 10px 20px;
    position: relative;
}

.mini-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mini-contact .icons {
    color: rgb(132, 184, 132);
}

.icons {
    display: flex;
    font-size: 20px;
    text-align: center;
    width: fit-content;
}

.icons .icon {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 16px;
    margin: 0 2px;
}

.icons .icon span {
    margin: auto;
}

.mini-contact .icons .icon:hover {
    background-color: #2324246b;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    z-index: 100;
    width: 100%;
    /* background-color: #007bff; */
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

form#contact-search-box {
    position: absolute;
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 11px;
    padding-right: 20px;
    top: 0;
}

.searchbar-behind-box {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 11px;
    padding-right: 20px;
}

form#contact-search-box input[type=search] {
    height: 40px;
    width: 100%;
    border-radius: 11px;

    outline: 0;
    font-size: 0.8rem;
    color: var(--black);
    border: 0;
    background-color: transparent;
    padding: 0 1rem;


    background-color: rgba(255, 255, 255, 0.228);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

form#contact-search-box input:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.091);
}

form#profile-first-name-field {
    margin-top: 150px;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 80px;
    height: fit-content;
    border-radius: 11px;
    padding-right: 20px;

}

form#profile-first-name-field input[type=firstNameField] {
    height: 40px;
    width: 100%;
    border-radius: 11px;

    outline: 0;
    font-size: 0.8rem;
    color: var(--black);
    border: 0;
    background-color: transparent;
    padding: 0 1rem;

    position: relative;

    background-color: rgba(255, 255, 255, 0.228);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

form#profile-first-name-field input:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.091);
}

form#profile-last-name-field {
    margin-top: 50px;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 80px;
    height: fit-content;
    border-radius: 11px;
    padding-right: 20px;

}

form#profile-last-name-field input[type=lastNameField] {
    height: 40px;
    width: 100%;
    border-radius: 11px;

    outline: 0;
    font-size: 0.8rem;
    color: var(--black);
    border: 0;
    background-color: transparent;
    padding: 0 1rem;

    position: relative;

    background-color: rgba(255, 255, 255, 0.228);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

form#profile-last-name-fieldinput:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.091);
}

form#profile-email-field {
    margin-top: 50px;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 80px;
    height: fit-content;
    border-radius: 11px;
    padding-right: 20px;

}

form#profile-email-field input[type=emailField] {
    height: 40px;
    width: 100%;
    border-radius: 11px;

    outline: 0;
    font-size: 0.8rem;
    color: var(--black);
    border: 0;
    background-color: transparent;
    padding: 0 1rem;

    position: relative;

    background-color: rgba(255, 255, 255, 0.228);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

form#profile-email-fieldinput:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.091);
}

form#profile-phone-field {
    margin-top: 50px;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 80px;
    height: fit-content;
    border-radius: 11px;
    padding-right: 20px;
}

form#profile-phone-field input[type=phoneField] {
    height: 40px;
    width: 100%;
    border-radius: 11px;

    outline: 0;
    font-size: 0.8rem;
    color: var(--black);
    border: 0;
    background-color: transparent;
    padding: 0 1rem;

    position: relative;

    background-color: rgba(255, 255, 255, 0.228);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

form#profile-phone-fieldinput:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.091);
}

.contacts {
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-y: scroll;
    padding-right: 20px;
}

.contacts ul {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

.contacts ul li {
    padding: 0px 4px 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid gray; */
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transition: all 0.2s ease-in, -webkit-transform 0.2s ease-in;
    border-radius: 20px;

}



.contacts ul li:hover {
    cursor: pointer;
    background-color: #a0a5aa6c;

}

.profile-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(78, 78, 71, 0.451);
}

.header .profile-img {
    aspect-ratio : 1 / 1;
    width: 115px;
    height: auto;

    background-color: #13bcde;
    display: flex;
    align-items: center;
    border-radius: 10000px;

    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.header .profile-img .initials {
    margin: auto;
}

.header .profile-name {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 10px;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    flex-direction: column;
}

.profile-info-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

.profile-info-list li {
    margin: 0 0 10px 0;
}

.profile-info .icons {
    color: rgb(222, 224, 222);
}

.profile-info .icons .icon {
    background-color:#343a40;
}

.content {
    width: 100%;
    height: 100%;
    margin: 40px;
}

.profile-info {
    display: flex;
    flex-direction: row;
}

.profile-info .info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0 0 0 10px;
}

.footer {
    width: 100vw;
    height: 70px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}



.loader-14 {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 0 1em 0 -0.2em currentcolor;
    position: relative;
    -webkit-animation: loader-14 0.8s ease-in-out alternate infinite;
    animation: loader-14 0.8s ease-in-out alternate infinite;
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
    top: -1em;
    color: gray;
}

.loader-14:after,
.loader-14:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    -webkit-animation: inherit;
    animation: inherit;
}

.loader-14:before {
    left: -1em;
    -webkit-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.loader-14:after {
    right: -1em;
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}

@-webkit-keyframes loader-14 {
    0% {
        box-shadow: 0 2em 0 -0.2em currentcolor;
    }

    100% {
        box-shadow: 0 1em 0 -0.2em currentcolor;
    }
}

@keyframes loader-14 {
    0% {
        box-shadow: 0 2em 0 -0.2em currentcolor;
    }

    100% {
        box-shadow: 0 1em 0 -0.2em currentcolor;
    }
}
